body {
<<<<<<< Updated upstream
    background-color:black;
    font: arial;
    color: white}
h1{
    color: grey;
    font: verdana;
    font-size: 150%;}
.maindiv {
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.inputdiv {
    text-align: left;
    display: inline-block;
    font-size: 12px;
}
#footer {
    text-align: left;
}
.numbers {
    background-color: yellow;
=======
    background-color: black;
    font: arial;
    color: white;
    }

h1{
    color: grey;
    font: verdana;
    }

.maindiv{
    margin: auto;
    background-color: white;
    color: black;
    width: 365px;
    padding: 20px;
    border-radius: 25px;
    }

p{
    padding-left: 30px;
>>>>>>> Stashed changes
}